.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4f46e5;
    /* фіолетовий */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.navItem {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.navItem:hover {
    color: #c7d2fe;
}